// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.app-admin {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.admin-nav {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
}

.admin-sidebar {
    position: fixed;
    height: calc(100vh - 60px);
    bottom: 0;
    top: 60px;
    z-index: 100;
}

.admin-sidebar-closed {
    width: 60px;
}

.admin-sidebar-opened {
    width: 300px;
}

.admin-content-container {
    position: relative;
    overflow: auto;
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    top: 60px;
    left: 60px;
}

.small-icon {
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.row-40percent {
    @media (min-width: 1200px) {
        width: calc(100% * 0.4) !important;
    }
    @media (max-width: 1199px) {
        width: 100% !important;
    }
}

.row-60percent {
    @media (min-width: 1200px) {
        width: calc(100% * 0.6) !important;
    }
    @media (max-width: 1199px) {
        width: 100% !important;
    }
}

.testas {
    height: 100px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.font-size-1rem {
    font-size: 1rem;
}

.font-size-1-8rem {
    font-size: 1.8rem;
}

.header-logo {
    height: 60px;
    object-fit: scale-down;
}
